<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="CIMSTheme" value="light"/>
    <!--when the below setting is defined, then app considers this to be the title for Login page.
        when the below setting is commented, the app adds a default text Login CIMS 3.0 UI -->
    <add key="CIMSLoginTitleText" value="CIMS 3.0 UI"/>
    <!--when the below setting is defined, then app add this as a suffix to the title for other than Login page.
        when the below setting is commented, the app adds a default text CIMS 3.0 UI -->
    <add key="CIMSTitleText" value=""/>

    <!--SQL command timeout set to 180 seconds (3mins) -->
    <add key="SQLCommandTimeout" value="180"/>
    <!--USE BELOW WITH CAUTION -->
    <!--SHOULD BE False ALWAYS -->
    <!--Change this to True so that the above SQLCommandTimeout is used across the application for all db operations -->
    <!--Setting this to True should be a Temporary measure -->
    <add key="UseCommandTimeoutGlobally" value="False"/>

    <add key="BartenderTemplatesDirectory" value="E:\WebSites\CIMS_3.0.4a\Apps\Resources\BTLabels"/>
    <add key="DocumentsDirectoryPath" value="E:\WebSites\CIMS_3.0.4a\AppGenDocuments"/>
    <add key="ReportTemplateDirectoryPath" value="E:\WebSites\CIMS_3.0.4a\Apps\Resources\Reports"/>
    <add key="ReportSchemaDirectoryPath" value="E:\WebSites\CIMS_3.0.4a\Apps\Resources\ReportSchemas"/>
    <add key="DASHBOARDSAPPURL" value="http://applications.cimswms.net:180/3.0.4a/Dashboards/Home/ShowDashboard"/>
    <add key="IsLoggingEnabled" value="true"/>
    <add key="LogFilePath" value="E:\WebSites\CIMS_3.0.4a\Logs\PrintManager\ShippingDocs"/>
    <add key="ErrorSoundFile" value="highpitchlongbeep.mp3"/>
    <add key="SuccessSoundFile" value="success1.wav"/>
  </appSettings>
  <system.diagnostics>
    <sources>
      <!--DO NOT CHANGE THIS NAME-->
      <source name="LOGGER">
        <listeners>
          <clear />
          <add name="Debug" type="Anetara.Utility.LogListener,Anetara.Utility.Logger, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" initializeData="E:\WebSites\CIMS_3.0.4a\Logs\CIMSUIDebug.log">
            <!--Uncomment below setting and comment the others below to switch on Debug Logging-->
            <!--<filter type="System.Diagnostics.EventTypeFilter" initializeData="All" />-->
            <!--Uncomment below setting and comment the above to switch off Debug Logging-->
            <filter type="System.Diagnostics.EventTypeFilter" initializeData="Off"/>
          </add>
          <add name="Errors" type="Anetara.Utility.LogListener,Anetara.Utility.Logger, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" initializeData="E:\WebSites\CIMS_3.0.4a\Logs\CIMSUIError.log">
            <!--DO NOT CHANGE THIS SETTING. Errors should always be logged-->
            <filter type="System.Diagnostics.EventTypeFilter" initializeData="Error" />
          </add>
        </listeners>
      </source>
    </sources>
    <switches>
      <!--https://docs.microsoft.com/en-us/dotnet/api/system.diagnostics.sourcelevels?view=netframework-4.5.2-->
      <!--Above link gives the details of values to use for LOGSWITCH-->
      <!--Though this is set to all, this can be overridden using the filter value for the specific listeners under source -->
      <!--Uncomment below setting and comment the LOGSWITCH Off, to switch the LOGGER On -->
      <!--when LOGSWITCH is All, then all the logging starts. Respective Logs can be enabled or disabled with filter type setting. see listeners under LOGGER setting -->
      <!--DO NOT CHANGE THIS NAME-->
      <add name="LOGSWITCH" value="All" />
      <!--Uncomment below setting and comment the above, to switch the LOGGER off -->
      <!--when LOGSWITCH is Off, then all the logging stops -->
      <!--<add name="LOGSWITCH" value="Off"/>-->
    </switches>
  </system.diagnostics>
  <system.web>
    <!--<identity impersonate="true" userName="ffiadmin" password="uFFIadm!087"/>-->
    <customErrors mode="Off"/>
    <compilation debug="false" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2"/>
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"/>
    </httpModules>
    <!--This setting is of no use as the Idletimeout setting at the application pool level overrides this-->
    <sessionState timeout="480"></sessionState>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <remove name="ApplicationInsightsWebTracking"/>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler"/>
    </modules>
    <staticContent>
      <remove fileExtension=".eot"/>
      <remove fileExtension=".ttf"/>
      <remove fileExtension=".svg"/>
      <remove fileExtension=".woff"/>
      <remove fileExtension=".woff2"/>
      <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject"/>
      <mimeMap fileExtension=".ttf" mimeType="application/octet-stream"/>
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml"/>
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff"/>
      <mimeMap fileExtension=".woff2" mimeType="application/x-font-woff2"/>
    </staticContent>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
  </system.webServer>
  <connectionStrings>
    <add name="CIMSDbContext" connectionString="metadata=res://*/Models.Data.csdl|res://*/Models.Data.ssdl|res://*/Models.Data.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.100.38\SQL2014Dev;initial catalog=cIMSV3Dev;persist security info=True;user id=cimsdba;password=cimsdba1;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>